@model WA_EShop.Models.DB.Products

@{
    ViewData["Title"] = "Ürün Silme | Admin Paneli";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<div class="container float right">
    <h4>Ürün Silme</h4>
</div>
<hr />
<div class="container col-md-5">
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.CategoryId)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UnitsInStock)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UnitsInStock)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProductId" />
        <input type="submit" value="Sil" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">  <i class="fa-solid fa-backward"></i>  Ürünler</a>
    </form>
</div>
